@import "/src/styles/variables.scss";
@import "/src/styles/mixins.scss";

@keyframes enter-left {
    0% {
        margin-left: -100vw;
    }
    100% {
        margin-left: 2vw;
    }

}

@keyframes enter-right {
    0% {
        margin-right: -100vw;
    }
    100% {
        margin-right: 0;
    }
}

@keyframes enter-bottom {
    0% {
        height: 0
    }
    100% {
        height:100vh;
    }
}

@keyframes grow {
    0% {
        transform: scale(0);
    }
    20% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
        }
}

@keyframes grow-description {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
        }
}

.todo {
    width: 60%;
    height: 100%;
    padding: 2vw;
    box-sizing:border-box;
    font-weight: bold;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    align-content: center;
    align-items:center;
    font-size: 2vw;
    @include mobile-only {
        padding-top:10vw;
        width: 100%;
        height:unset;
        min-height: 100vh;
        align-content:flex-start;
    }

    &__add-form {
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:center;
        width:100%;
        flex-wrap:wrap;
    }

    &__count-by-status {
        padding: 0.2vw 0.2vw;
        @include mobile-only {
            height: 12vw;
        }
        &__container {
            width: 100vw;   
            /*background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background-color:rgba(0, 0, 0, 0.829);
            display:flex;
            flex-direction:row;
            justify-content: space-evenly;
            align-items:center;
            position:fixed;
            top:0;
            left:0;
            z-index:95;
            height: 5vw;
            @include mobile-only{
                height: 12vw;
                background-color: rgba(32, 32, 32, 0.959);
            }
        }
        &__icon{
            font-size: 3vw;
            text-shadow: 0.1vw 0.1vw 0.2vw white;
            -webkit-text-stroke: 0.1vw white;
            @include mobile-only {
                font-size: 8vw;
                margin-top:2vw;
            }
        }
        &__count {

            animation: 200ms ease-in forwards grow;
            width: 2vw;
            color: white;
            margin-top: -2.2vw;
            text-align:left;
            background-color: rgba(0, 153, 255, 0.767);
            border-radius: 2vw;
            top: 0.7vw;
            left: -1.3vw;
            display:flex;
            align-items:center;
            justify-content:center;
            box-shadow: 0.2vw 0.2vw 0.2vw black;
            z-index:99;
            position:relative;
            font-size: 1vw;
            border: 1px solid white;
            @include mobile-only {
                width: 5vw;
                height: 5vw;
                border-radius: 2.5vw;
                top: -3vw;
                left: -4vw;
                font-size: 4vw;
            }
        }
    }


   
    &__icon {
        width: 10%;
        margin: 2vw 0vw;
        height: 4vw;
        font-size: 3vw;
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:center;
        color: white;
        margin-bottom: 2vw;
        @include mobile-only {
            font-size: 10vw;
            height: 15vw;
            margin: 3vw;
        }
    }

   

    &__task-details {
        width: 30%;
        padding: 0 2vw;
        margin-top: 4vw;
        height: max-content;
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content:flex-start;
        align-items: flex-start;
        align-content: flex-start;
        box-sizing: border-box;
        animation: 200ms ease-in forwards enter-right;
        @include mobile-only {
            width: 100%;
            height:100vh;
            justify-content: center;
            position: fixed;
            margin-top:unset;
            top:0;
            bottom:0;
            left:0;
            right:0;
           
            background: linear-gradient(to bottom, #1a2980, #26d0ce); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

            z-index:99;
            animation: 200ms ease-in forwards enter-bottom;
        }

        &__deselect-task{
            display:none;
            @include mobile-only {
                display:block;
                position: fixed;
                bottom:3vw;
                display:flex;
                flex-direction:row;
                align-items:center;
                justify-content:center;
                font-size: 10vw;
                width:100%;
                border-radius: 5vw;
                background-color:transparent;
                border:none;
                color:white;
            }
        }

        &__submit-description {
            width: 3vw;
            height:3vw;
            position: relative;
            top: -53vh;
            left:-1.5vw;
            font-size: 2vw;
            border-radius: 50%;
            border:none;
            display:flex;
            align-items:center;
            justify-content:center;
            cursor: pointer;
            @include mobile-only {
                top: -105vw;
                width: 10vw;
                height: 10vw;
                left:unset;
                font-size: 7vw;
                right:-45vw;
                
            }
            &:hover {
                background-color:rgb(133, 255, 103);
            }
        }
       
        &__title {
            min-width: 100%;
            min-height: 4vh;
            display:flex;
            flex-direction:row;
            align-items:center;
            justify-content: flex-start;
            font-weight: bold;
            font-size: 3vh;
            color: white;
            border-bottom: 0.1vw solid white;
            white-space:wrap;
            overflow:hidden;
            text-align:left;
            margin: 4vw 0 2.5vw 0;
            font-family: "Dancing Script";
            @include mobile-only {
                font-size: 8vw;
                min-height: 10vw;
                justify-content: center;
                border-top: 0.1vw solid white;
                justify-content: space-between;
            }
            & i{
                margin-left: 1vw;
            }
            
            
        }
        &__description {
            background-color: rgba(255, 255, 255, 0.198);
            margin-top: 4vw;
            height: 50vh;
            border-radius: 0.2vw;
            font-size: 2vw;
            padding: 2vw;
            box-sizing:border-box;
            font-family: "Dancing Script";
            width: 100%;
            color:white;
            &--saved {
                animation: 200ms ease-in forwards grow-description;
            }
            @include mobile-only {
                font-size: 6vw;
                height: 100vw;
            }
        }
        &__information-container {
            width: 49%;
            display:flex;
            box-sizing:border-box;
            flex-direction:row;
            align-items:center;
            justify-content:space-between;
            background: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            border-radius: 0.5vw;
            margin-right: 1%;
            padding-right: 0.5vw;
            font-family: "Dancing Script";
            @include mobile-only {
                border-radius: 2vw;
                height: 12vw;
                background:unset;
            }
            
        }
        &__deadline {
            height:8vw;
            display:flex;
            flex-direction:row;
            align-items:center;
            justify-content:center;
            font-weight: bold;
            width: max-content;
            @include mobile-only {
                height: 12vw;
                display:flex;
                flex-direction:row;
                align-items:center;
                color:white;
            }

        }
        &__status {
            font-size: 2vw;
            display:flex;
            flex-direction:row;
            align-items:center;
            justify-content:center;
            height:3vw;
            width: 7vw;
           
            @include mobile-only {
                height: 20vw;
                font-size: 6vw;
            }
            
        }
        &__labels {
            width: max-content;
            display:flex;
            flex-direction:row;
            align-items:center;
            justify-content:center;
            background-color:rgb(80, 149, 214);
            height:4vw;
            width: 6vw;
            border-radius: 0.5vw 0 0 0.5vw;
            color:white;
            margin-right:  1vw;
            font-size: 1.5vw;
            @include mobile-only {
                height: max-content;
                width: 25vw;
                font-size: 4vw;
                border-radius: 3vw 3vw 3vw 3vw;
                box-shadow: 0.3vw 0.3vw 0.3vw grey;
            }
        }
    }

    &__tasks {
        display:flex;
        width: 100vw;
        height: 50vh;
        flex-direction:row;
        align-items:flex-start;
        align-content:center;
        justify-content:space-evenly;
        box-sizing:border-box;
        flex-wrap:wrap;
        overflow-y:auto;
        overflow-x:hidden;

        @include mobile-only {
            height: max-content;
            padding-top: 5vh;
            align-items:center;
            align-content:center;
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
            &::-webkit-scrollbar{
                display: none;
              }
            
        }
        
    }
    
    &__task {
        display:flex;
        flex-direction:row;
        height: 3vw;
        animation: 200ms ease-in forwards enter-right;
        border-radius: 0.3vw;
        margin-top: 1vw;
        margin: 1vw;
        background: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:flex-start;
        box-shadow: 0.1vw 0.1vw 0.2vw rgba(255, 255, 255, 0.705);
        font-family: "Dancing Script";
        transition: all .2s ease-in-out;
        cursor: pointer;
        &:nth-child(odd) {
            animation: 300ms ease-out forwards enter-left;
        }

        &:hover {
            color:rgb(0, 29, 124);
            transform:scale(1.05);

        }
        @include mobile-only {
            height: max-content;
            flex-direction:column;
            width: 45%;
            justify-content: space-between;
            border-radius:1vw;
            margin-top: 4vw;


            
        }

        &--open {
            color: rgb(85, 0, 119);
        }
        &--close {
            color:grey;
            opacity:0.9;
        }

        &__delete-icon {
            width: 1.2vw;
            height: 1.2vw;    
            color: rgb(80, 149, 214);
            position:relative;
            left: -0.6vw;
            font-size:1.3vw;
            display:flex;
            align-items:center;
            justify-content:center;
            box-sizing:border-box;
            background-color:white;
            border-radius: 1vw;
            transition: all .2s ease-in-out;
            @include mobile-only {
                font-size: 5vw;
                width:6vw;
                height: 6vw;
                margin-top: -3vw;
                border-radius:unset;
                border-radius: 50%;
            }
            &:hover {
                color: red;
                transform: scale(1.1);
            }
        }
    
        &__status {
            height:100%;
            width:3vw;
            font-size: 1.3vw;
            line-height: 1.3vw;
            box-sizing:border-box;
            display:flex;
            align-items:center;
            justify-content:center;
            border-radius:  0 0.3vw 0.3vw 0;
            opacity: 0.9;
            
            @include mobile-only {
                font-size: 5vw;
                width: 100%;
                padding: 1vw;
                border-radius: 0 0 1vw 1vw;
            }
            &--open {
                background-color: rgba(204, 0, 255, 0.65);
                & > i {
                    color:white;
                }
                /*animation: 200ms ease-in forwards grow;*/
            }
            &--close {
                background-color: rgba(153, 233, 153, 0.507);
                /*animation: 200ms ease-in forwards grow;*/
            }

        }
        &__title {
            width: max-content;
            white-space:nowrap;
            margin-right: 2vw;
            font-size: 1.2vw;

            @include mobile-only {
                margin-right:unset;
                width:100%;
                height:100%;
                font-size: 5vw;
                word-break: normal;
                white-space:unset;
                padding: 1vw 2vw;
            }
            
        }
        
    }
    &__title-input {
        width: 30%;
        height: 3vw;
        font-size: 1.5vw;
        border-radius: 0.5vw;
        border:none;
        outline:none;
        font-family: "Dancing Script";
        @include mobile-only {
            margin-left: 0vw;
            font-size: 5vw;
            width: 80vw;
            height:max-content;
            text-align:center;
            margin-top: 5vw;
        }
    }
    &__add-button {
        height: 3vw;
        width: 30%;
        border-radius: 0.5vw;
        font-size: 1.5vw;
        font-family: "Dancing Script";
        background-color:rgb(144, 14, 251);
        color:white;
        border:none;
        cursor: pointer;
        &:hover {
            background-color: lighten(rgb(144, 14, 251), 10%);
        }
        @include mobile-only {
            font-size: 5vw;
            width:80vw;
            margin-bottom: 10vw;
            height: 6vw;
            margin-left: 0vw;
        }
    }
}